<div class="search">
    <h1>TulgyZipCode</h1>
    <h2>The best place to look-up US ZipCode</h2>

    <mat-form-field class="search__field">
        <mat-label>Zip Code</mat-label>
        <mat-chip-list #chipList aria-label="Zip Code" style="width: 100%;">
            <mat-chip [class.error]="checkIsZipCodeInValid(c)" *ngFor="let c of zipCode; let i = index" [selectable]="selectable" [removable]="removable" (removed)="remove(c)">
                {{c}}
                <mat-icon [style.color]="checkIsZipCodeInValid(c) ? 'red' : 'gray'" matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

            <input [formControl]="zipCodeFormControl" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (paste)="paste($event)" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </mat-form-field>

    <mat-error *ngIf="zipCodeFormControl.invalid">Invalid zip code!</mat-error>

    <button mat-raised-button [disabled]="searching || zipCodeFormControl.invalid" color="primary" (click)="search()">Search</button>

    <hr>

    <div class="search__result">
        <p *ngIf="dontHaveResults && !searching" style="text-align: center; padding: 2em; width: 100%;">No Result.</p>
        <mat-spinner *ngIf="searching" [diameter]="25" class="search__result__loading"></mat-spinner>

        <div *ngIf="!searching">
            <app-zip-code [zipCodes]="zipCodes" class="search__result__cards"></app-zip-code>
        </div>
    </div>
</div>