<div class="search">

    <h1 style="margin-top: 3em;">TulgyZip</h1>
    <h2>The best place to look-up US ZipCode</h2>

    <mat-form-field class="search__field">
        <mat-label>Zip Code</mat-label>
        <mat-chip-list #chipList aria-label="Zip Code" style="width: 100%; background-color: white;">
            <mat-chip *ngFor="let c of zipCode" [selectable]="selectable" [removable]="removable" (removed)="remove(c)">
                {{c}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
            </mat-chip>

            <input [formControl]="zipCodeFormControl" [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
    </mat-form-field>

    <mat-error *ngIf="zipCodeFormControl.invalid">Invalid zip code!</mat-error>
    <button mat-raised-button [disabled]="searching" color="primary" (click)="search()">Search</button>

    <hr>

    <div class="search__result">
        <p *ngIf="dontHaveResults" style="text-align: center; padding: 2em; width: 100%;">No Result.</p>
        <mat-spinner *ngIf="searching" [diameter]="25" class="search__result__loading"></mat-spinner>

        <div *ngIf="!searching">
            <mat-card *ngFor="let code of zipCodes" class="search__result--card">
                <mat-card-header>
                    <mat-card-title>{{ code.country }} | {{ code.countryAbbreviation }}</mat-card-title>
                    <mat-card-subtitle>{{ code.postCode }}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="padding: 1em">
                    <h3>Places</h3>
                    <div *ngFor="let place of code.places" style="border: 1px solid gainsboro; padding: 0.5em;">
                        <div style="display: flex; margin-bottom: 1em; border-bottom: 1px solid gainsboro; padding: 0.25em;">
                            <span style="flex: 1; font-weight: bold;">Latitude</span>
                            <span style="flex: 1;">{{ place.latitude }}</span>
                        </div>
                        <div style="display: flex; margin-bottom: 1em; border-bottom: 1px solid gainsboro; padding: 0.25em;">
                            <span style="flex: 1;  font-weight: bold;">Longitude</span>
                            <span style="flex: 1;">{{ place.longitude }}</span>
                        </div>
                        <div style="display: flex; margin-bottom: 1em; border-bottom: 1px solid gainsboro; padding: 0.25em;">
                            <span style="flex: 1;  font-weight: bold;">Name</span>
                            <span style="flex: 1;">{{ place.placeName }}</span>
                        </div>
                        <div style="display: flex; margin-bottom: 1em; border-bottom: 1px solid gainsboro; padding: 0.25em;">
                            <span style="flex: 1;  font-weight: bold;">State</span>
                            <span style="flex: 1;">{{ place.state }}</span>
                        </div>
                        <div style="display: flex; margin-bottom: 1em; ">
                            <span style="flex: 1;  font-weight: bold;">Abbreviation</span>
                            <span style="flex: 1;">{{ place.stateAbbreviation }}</span>
                        </div>
                    </div>
                </mat-card-content>
            </mat-card>

        </div>
    </div>
</div>